# CMAKE
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
test
